@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
    html {
        scroll-behavior: smooth;
    }
body {
background-color: white;
}
.dot {
    font-size: 40px;
    color: red;
    font-weight: bolder;
}
nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    padding: 20px 10%;
    backdrop-filter: blur(20px);
    z-index: 10;
}
nav h1 {
    font-size: 28px;
    font-weight: bolder;
    line-height: 30px;
    color: #7f00ff;
    letter-spacing: 1px;
    position: relative;
  
}

nav ul li {
    list-style: none;
}
nav h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
    }
ul a {
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 20px;
    color: #7f00ff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}
ul {
   display: flex;
}
.menu-icon {
    display: none;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transform: translateY(-50%);
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
    
}

.menu-icon::before
 {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: black;
    transition: 0.5s;
    border-radius: 5px;
}
.menu-icon::after {
content: '';
position: absolute;
width: 25px;
height: 3px;
background: black;
transition: 0.5s;
border-radius: 5px;
}
.nenu-icon::before {
    top: -10px;
}
.menu-icon::after {
    bottom: 10px;
}
.menu-icon.active {
    background-color: white;
}
.menu-icon.active::before {
    top: 0;
    transform: rotate(45deg);
}
.menu-icon.active::after {
    top: 0;
    transform: rotate(135deg);
} 
ul a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;}
    
ul a:hover {
cursor: pointer;
 transition: 0.3s ease-in;
 color: #7f00ff;
}

.wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
   
}
    .wrap::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 3%;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    background: linear-gradient(45deg,#7f00ff,white);
    backdrop-filter: blur(100px);
    
    animation: object1 6s linear infinite;
    animation-delay: 0.7s;}

.wrap::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    background: linear-gradient(45deg,#7f00ff,white);
    backdrop-filter: blur(100px);
    animation: object2 6s linear infinite;
    animation-delay: 0.7s;
}
    @keyframes object1 {
        50%{
            left: -13%;
            top: 41%;
        }
    }

    @keyframes object2 {
        50%{
            left: 70%;
            top: 10%;
        }
    }
.cols {
    width: 100%;
}
.colos {
    z-index: 4;
    margin-top: 150px;
    
}
.top {
    display: block;
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #7f00ff;
    overflow: hidden;
}

h1 {
    display: block;
    font-size: 6em;
    font-weight: bolder;
    font-weight: 900;
    color: #7f00ff;
}
.multitext {
    color: #050801;
    text-transform: capitalize;
    font-weight: bolder;
}
p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    font-weight: bolder;
    color: #050801;
}
.btns {
    width: 100%;
    position: relative;
    margin-top: 30px;
  
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}
    
button {
    position: relative;
     width: 150px;
     margin-right: 30px;
     align-items: center;
     justify-content: center;
     height: 45px;
     background: #7f00ff;
     border: 1px solid #7f00ff;
     border-radius: 50px;
     display: inline-flex;
     font-size: 19px;
     color: white;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;
     z-index: 1;
     overflow: hidden;
     transition: .5s;
}
button:hover {
    color: #7f00ff;
}

 button:nth-child(2) {
    background: transparent;
    color: #7f00ff;
}
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .5s;
}
button:hover::before {
    width: 100%;
}
button:nth-child(2)::before {
    background: #7f00ff;
} 
button:nth-child(2):hover {
    color: white;
}

button a {
    text-decoration: none;
    filter: hue-rotate(270deg);
    color: #050801;
}



@keyframes showRight {
    100% {
        width: 0;
    }
}
@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}
#Services {
    background-color: white;
    text-align: center;
    height: 100%;
}
#Services h1 {
    font-size: 3em;
    font-weight: 900;
    color: #7f00ff;
   padding-bottom: 50px;
}
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.item-name {
    display: block;
    padding: 40px 10%;
    
}
.item-name h2 {
    text-align: left;
    color: #7f00ff;
    padding: 10px 0px;
}
.item-name p {
    text-align: left;
    font-size: 16px;
}
.line {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7f00ff;
    position: absolute;
    left: 60px;
}
.line-2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7f00ff;
    position: relative;
    left: -75px;
    top: 60px;
}
.line-1 {
    width: 2px;
    height: 145px;
    background-color: #7f00ff;
    position: absolute;
    left: 64px;
    margin-top: 15px;
}
#about {
    height: 100vh;
    padding: 0 10%;
    display: flex;
}
#about h1 {
    color: #7f00ff;
    padding-bottom: 50px;
    padding-top: 120px;
    font-weight: 900;
    font-size: 2.2rem;
}
#about h3 {
    color:  black;
    padding-bottom: 50px;
}
#about p {
    text-align: center;
    color: black;
    text-align: left;
    font-size: 1.2rem;
}
.about-content {
    width: 100%;
    
}
.about-img {
    padding-top: 250px;
    
}

  .abou {
  width: 70%;
}
.abou {
  min-height: 300px;
  height: 100%;
}
#contact  {
    width: auto;
}
#contact h1 {
    color: #7f00ff;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}
.contact-me {
    display: flex;
    gap: 100px;
    padding: 80px 10%;
    width: auto;
}
.contact-1 p {
   padding: 15px 0;
   font-size: 16px;
}
.contact-1 h2 {
    font-size: 25px;
    color: black;
    padding: 15px 0;
}
.media h2{
    padding: 10px 10%;
    color: black;
    padding-bottom: 20px;
}


.icons a{
    margin: 0 40px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    
    border-radius: 50%;
    font-size: 30px;
    display: block;
    padding: 20px 10%;
}
.icos-1 a {
    color: blue;
}
.icos-2 a {
    color: rgb(15, 190, 15);
}
.icos-3 a {
    color: green;
}
.icos-4 a {
    color: orangered;
}
.icos-5 a {
    color: blue;
}


.contact-section {
    text-align: center;
    position: relative;
    top: -590px;
    width: 100%;
    left: 100px;
   }
   .row h2 {
       color: #7f00ff;
   }
   .contact-heading {
    color: black;
    font-size: 250%;
    margin-bottom: 50px;
    margin-top: 150px;
   }
   
   .contact-form {
    text-align: left;
    width: 40%;
    margin: 0 auto;
    color: black;
    font-weight: 1000;
   }
   ::placeholder {
       color: black;
       font-weight: 700;
   }
   
   input[type=text],
   input[type=email], 
   textarea {
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #111111;
    background-color: white;
    color: white;
   }
   
   input[type=checkbox] {
    margin: 10px 5px;
   }
   
   .newsletter {
    margin-top: 10px;
    margin-bottom: 10px;
   }
   
   textarea {
    height: 100px;
   }

@media only screen  and (max-width: 380px){
    nav {
        padding: 10px 10%;
        height: 10vh;
        max-height: 40vh;
        z-index: 10;
    }
    nav ul {
        position: fixed;
        top: 50px;
        left: 100%;
        width: 100%;
        height: 50vh;
        z-index: 10;
       background-color: #111111;
        flex-direction: column;
        transition: 0.5s ease-in;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
    ul.active {
        left: 0;
        transition: 0.5s ease-in;
    }
    nav ul li a {
        font-size: 25px;

    }
    .menu-icon {
        display: block;
    }
    nav h1 {
        font-size: 23px;
        font-weight: 700;
        line-height: 20px;
    }
   
    
    .top {
        font-size: 25px;
    }
    
    h1 {
        font-size: 1.8em;
        padding-bottom: 30px; 
    }
    
    p {
        width: 100%;
        font-size: 0.8em;
    }
    .wrap::before {
      
        width: 150px;
        border-radius: 50%;
        height: 150px;
    }
    .wrap::after {
        width: 125px;
        border-radius: 50%;
        height: 125px;
    }
    .menu-icon {
        margin-right: 30px;
    }
    button {
        font-size: 20px;
    }
    .btns {
        width: 100%;
        display: flex;
        left: 0px;
        position: relative;
    }
    
    .first {
        width: 100%;
        height: 500px;
        margin: 50px auto;
        }

    .first p {
            font-size: 16px;
            font-weight: 700;
            color: white;
            text-align: center;
            padding: 0 10px;
        }
  .hidden {
      display: block;
        }
    #about {
    height: 100%;
    padding: 0 10%;
   
    width: auto;
    display: block;
}
#Services {

    
    height: 100%;
}
.wrap {
    height: 100vh;
}
#about h1 {
    text-align: center;
}
#about h3 {
    text-align: center;
}

#about p {
    text-align: center;
    color: black;
    
    font-size: 1em;
}
.about-img {
    margin: 0 20px;
}
.abou {
    width: 100%;
  }

  .navbar i {
      display: inline-block;
  }
  #contact  {
    width: auto;
}
#contact h1 {
    color: #7f00ff;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}
.contact-me {
    display: block;
    
    padding: 80px 10%;
    
}
.contact-1 img {
   margin: auto;
   width: auto;
   display: block;
   text-align: center;
   padding-top: 50px;
}
.contact-1 p {
   padding: 15px 0;
   font-size: 16px;
   text-align: center;
}
.contact-1 h2 {
    font-size: 25px;
    text-align: center;
    color: black;
    padding: 15px 0;
}
.media h2{
    padding: 10px 10%;
    color: black;
    padding-bottom: 20px;
    text-align: center;
}
.contact-section {
    text-align: center;
    top: 0px;
    width: 100%;
    left: 0px;
   }
   .row h2 {
       color: #7f00ff;
   }
   .contact-heading {
    color: black;
    font-size: 250%;
    margin-bottom: 50px;
    margin-top: 150px;
   }
   
   .contact-form {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    color: black;
    font-weight: 1000;
   }

.icons a {
    margin: 0 20px;

    text-decoration: none;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    
    padding: 20px 10%;
}
::placeholder {
    color: black;
    font-weight: 700;
}
.item-name {
    display: block;
    padding: 40px 10%;
    
}
.line {
    position: absolute;
    left: 18px;
    margin-right: 60px;
}
.line-2 {
  
    position: relative;
    left: -200px;
    top: 60px;
    margin-right: 100px;
}
.line-1 {
   
    position: absolute;
    left: 22px;
    margin-top: 15px;
}


}


@media only screen and (min-width: 380px) and (max-width: 760px) {
    nav {
        padding: 10px 10%;
        height: 10vh;
        max-height: 40vh;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 50vh;
        background: #050801;
        flex-direction: column;
        transition: 0.5s ease-in;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
    ul.active {
        left: 0;
        transition: 0.5s ease-in;
    }
    nav ul li a {
        font-size: 24px;

    }
    .menu-icon {
        display: block;
    }
    .navbar h1 {
        font-size: 25px;
        font-weight: 700;
        line-height: 20px;
    }
   
    .top {
        font-size: 25px;
    }
    
    h1 {
        font-size: 1.8em;
        padding-bottom: 30px; 
    }
    .item-name h2 {
        text-align: left;
        color: #7f00ff;
        padding: 10px 0px;
        width: 70%;
    }
    .item-name p {
        text-align: left;
        font-size: 16px;
        margin-right: -200px;
    }
    
    p {
        width: 100%;
        font-size: 0.9em;
    }
    .wrap::before {
      
        width: 150px;
        border-radius: 50%;
        height: 150px;
    }
    .wrap::after {
        width: 125px;
        border-radius: 50%;
        height: 125px;
    }
    button {
        font-size: 20px;
    }
    .btns {
        width: 100%;
        display: flex;
        left: 0px;
        position: relative;
    }
    
    .first {
        width: 100%;
        height: 500px;
        margin: 50px auto;
        }
        .first p {
            font-size: 16px;
            font-weight: 700;
            color: white;
            text-align: center;
            padding: 0 10px;
        }
  .hidden {
      display: block;
      padding: 0;
      gap: 0;
        }
    #about {
    height: 100%;
    padding: 0 10%;
    background-color: black;
    display: block;
}
#Services {
    background-color: #111111;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 5%;
}
.wrap {
    height: 85vh;
}
#about h1 {
    text-align: center;
}
#about h3 {
    text-align: center;
}

#about p {
    text-align: center;
    color: white;
    
    font-size: 1.2em;
}
.abou {
    width: 100%;
}
.about-img {
    margin: 0 30px;
}
}
@media only screen and (min-width: 760px) and (max-width: 1024px) {
    nav {
        padding: 10px 10%;
        height: 10vh;
        max-height: 40vh;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 50vh;
        background: #050801;
        flex-direction: column;
        transition: 0.5s ease-in;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
    ul.active {
        left: 0;
        transition: 0.5s ease-in;
    }
    nav ul li a {
        font-size: 28px;

    }
    .menu-icon {
        display: block;
    }
    .navbar h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 20px;
    }
   
    .top {
        font-size: 30px;
    }
    
    h1 {
        font-size: 2.1em;
        padding-bottom: 30px; 
    }
    
    p {
        width: 100%;
        font-size: 1.4em;
    }
    .wrap::before {
      
        width: 150px;
        border-radius: 50%;
        height: 150px;
    }
    .wrap::after {
        width: 125px;
        border-radius: 50%;
        height: 125px;
    }
    button {
        font-size: 25px;
    }
    .btns {
        width: 100%;
        display: flex;
        left: 0px;
        position: relative;
    }
    
    .first {
        width: 80%;
        height: 500px;
        margin: 50px auto;
        }
        .first p {
            font-size: 24px;
            font-weight: 700;
            color: white;
            text-align: center;
            padding: 0 10px;
        }
  .hidden {
      display: block;
      padding: 0;
      gap: 0;
        }
    #about {
    height: 100%;
    padding: 0 10%;
    background-color: black;
    display: block;
}
#Services {
    background-color: #111111;
    text-align: center;
    height: 100%;
    width: 90%;
    margin: 0 5%;
}
.wrap {
    height: 80vh;
}
#about h1 {
    text-align: center;
}
#about h3 {
    text-align: center;
}

#about p {
    text-align: center;
    color: white;
    
    font-size: 1.6em;
}
.abou {
    width: 100%;
}
.about-img {
    margin: 0 30px;
}
}